*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* .container{
    height: auto;
    border: 1px white solid;
    background-color: white;
    max-width: 500px;
    
} */
.nav{
display: inline; 
padding-left: 10px;
padding-right: 8px;
}
#NewTask{
    height:37px;
    border: 2px grey solid;
border-radius: 5px;
width: 260px;

}
/* .button_div{
    position: relative;
    left: 280px;
    bottom:40px;

} */
#btn1{
    height:38px;
    width:80px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    
}
#btn1:hover{
    animation-name: example; 
    animation-duration: 2s;
}
.button-container{
    display: flex;   
}

@keyframes example {
    from {background-color:black;}
    to {background-color: whitesmoke;
    color: black;}
  }
::placeholder{
    padding-left: 15px;
}
#TaskListContainer{
    padding: 10px;
    /* width:fit-content; */
}
#TaskList tr td {
font-size:20px;
}
.checkbox1{
    width:30px;
    height: 20px;
    margin-right:8px;
}

.mystyle{
    border: 2px solid black;
}

#TaskList {
    width: 100%;
}
.editButton{
    border-style: none;
}

.task{
    height: 30px;
}
